

body {
    background-image: url("https://thumbs.dreamstime.com/z/pulse-medical-concept-background-medicine-healthcare-114755576.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 1300px 600px;
   }
