body {
    background-image: url("https://image.shutterstock.com/image-photo/abstract-blurred-image-patient-on-260nw-1936266148.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 1300px 800px;
   }