<body>
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Patient List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medicine of medicines | async">
            <td>{{medicine.name}}</td>
            <td>{{medicine.price}}</td>
            <td>{{medicine.quantity}}</td>
            <td><button (click)="deleteMedicine(medicine.id)" class="btn btn-danger">Delete</button>
                <button (click)="updateMedicine(medicine.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                
            </td>
          </tr>
        </tbody>
      </table>

      <div routerLink="/home" class="btn" routerLinkActive="active">
        <button type="button" class="btn btn-primary" >BACK </button>
        </div>
    </div>
  </div>
  
  
</body>